<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title> Shortify App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Shortify App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to shorten your URL?</strong>
    <div
      class="container"
      style="margin-left: 40%; margin-right: 40%; margin-top: 40px"
    >
      <ion-item>
        <ion-label position="floating">Paste URL here</ion-label>
        <ion-input [(ngModel)]="url"></ion-input>
      </ion-item>

      <ion-button
        color="primary"
        class="ion-margin-top"
        [disabled]="!url"
        (click)="generateUrl()"
        >Create</ion-button
      >
    </div>
  </div>
</ion-content>
